.thing {
    font-family: 'Lexend', sans-serif;
    margin: 0 auto; /* Aligns the container in the center horizontally */
    padding: 20px;
    text-align: center; /* Aligns the content inside the container in the center */
    background-color: #df5151;
    text-align: center;
}

h2 {
    font-size: 100px;
}
form {
    font-size: 50px;
}
button{
    font-family: 'Lexend', sans-serif;
    margin: 0 auto; /* Aligns the container in the center horizontally */
    padding: 20px;
    text-align: center; /* Aligns the content inside the container in the center */
    background-color: #df5151;
    text-align: center;
}