
@import url('https://fonts.googleapis.com/css?family=Lexend');



html, body {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: 'Righteous', sans-serif;
    background-color: #df5151;
    text-align: center;
    
}

.login {
    font-family: 'Righteous', sans-serif;
    max-width: 800px;
    margin: 0 auto; /* Aligns the container in the center horizontally */
    padding: 20px;
    text-align: center; /* Aligns the content inside the container in the center */
}